* {
  font-family: 'Poppins', sans-serif;
}

.h-font {
  font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pop:hover {
  transform: scale(1.03);
  transition: all;
}

input[type=number] {
  -moz-appearance: textfield;
}

.navbar-toggler {
  margin: right 1px;
}

.swiper-slide,
.container-fluid_swiper {
  height: 485px;
} 

 @media(max-width:630px) {

  .swiper-slide,
  .container-fluid_swiper {
    height: 195px;
  }
}

@media(max-width:820px) {

  .swiper-slide,
  .container-fluid_swiper {
    height: 255px;
  }
}